#topbar {
    width: 100%;
    z-index: 1;
    float:top;
    font-size: 22px;
    font-family: Copperplate;
    background-color: gray;
    height:70px 
}
.hue {
    filter:hue-rotate(90deg);
    height: 300px;
    padding: 30px;
}
.penguin {
    -webkit-filter: sepia(70%);
    filter: sepia(70%);
    border-radius: 700px;
    border: solid;
    height: 300px;
    width: 500px;
    background-image: url(penguins.jpg);
}
.football {
    height: 300px;
    width: 500px;
    border: 30px solid black;
    border-width: 30px;
    padding: 0px;
    border-image: url(tic-tac-toe.png) 50 round;
}
.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.seagull {
    height: 350px;
    width: 600px;
    background:linear-gradient(rgb(136,136,255), #fefeff);
    -webkit-filter: drop-shadow(1px 1px 15px #8f8f8f);
    filter: drop-shadow(-5px, -5px, 5px #000000);
    margin-bottom: 30px;
}
.invertt {
    margin-top: 30px;
    margin-left: 1px;
    background-color: gray;
    width: 400px;
    height: 200px;
    border-radius: 90px 0px;
    overflow: hidden;
    filter: invert(100%);
}
.stage {
    margin-top: 30px;
    filter: blur(4px);
}
.present {
    top: 220px;
    left: 110px;
    position: relative;
    z-index: 10;
    font-size: 40px;
    font-weight: bold;
    color: white;
}