.topbarfinal {
    background-color: darkblue;
    overflow: hidden;
  }
  .topbarfinal a  {

    text-align: center;
    padding: 20px 16px;
    float: left;
    color: lightblue;
    text-decoration: none;
    font-size: 17px;
    font-family: Garamond;
  }
  .topbarfinal a:hover {
    color: blue;
    background-color: lightblue;
  }

  table, th, td {
    border: 1px solid;
}
table, th, td {
    width:1770px;
}