.topbarfinal {
    background-color: darkblue;
    overflow: hidden;
  }
  .topbarfinal a  {

    text-align: center;
    padding: 20px 16px;
    float: left;
    color: lightblue;
    text-decoration: none;
    font-size: 17px;
    font-family: Garamond;
  }
  .topbarfinal a:hover {
    color: blue;
    background-color: lightblue;
  }
  .centert {
    text-align: center;
    justify-content: center;
  }
  h1,p,h2,h3,ol {text-align: center;font-family: "Courier New", Monospace;color: darkblue;}